
<ion-header>
  <ion-navbar>
    <ion-title>place</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="closeModal()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content fullscreen>
  <ion-card>
         <ion-item>
           <ion-avatar item-left>
             <img src="http://d2trtkcohkrm90.cloudfront.net/images/emoji/apple/ios-10/256/robot-face.png" />
           </ion-avatar>
           <h2>Malik Abdul Ghani</h2>
           <p>{{ dateOfPicTaken }}</p>
         </ion-item>
    
         <img [src]="imageURL" />
    
         <ion-card-content>
           <h1>{{ title }}</h1>
           <h4>description: {{ desc }}</h4>
         </ion-card-content>
    
         <ion-row>
           <ion-col>
             <button ion-button icon-left clear small>
              <ion-icon name="md-locate"></ion-icon>
               <div>{{ lat }} (lat)</div>
             </button>
           </ion-col>
           <ion-col>
             <button ion-button icon-left clear small>
              <ion-icon name="locate"></ion-icon>
               <div>{{ lng }} (lng)</div>
             </button>
           </ion-col>
           <ion-col center text-center>
           </ion-col>
         </ion-row>
    
       </ion-card>
 </ion-content>
