page-home {
    ion-content {
        @keyframes changeBG {
            0% { background-color: #F44336; }
            10%{ background-color: #EC407A; }
            20%{ background-color: #AB47BC; }
            30%{ background-color: #7E57C2; }
            40%{ background-color: #5C6BC0; }
            50%{ background-color: #42A5F5; }
            60%{ background-color: #66BB6A; }
            70%{ background-color: #D4E157; }
            80%{ background-color: #FFCA28; }
            90%{ background-color: #FFA726; }
            100%{background-color: #F44336; }
          }

          @keyframes changeFG {
            0% { color: #F44336; }
            10%{ color: #EC407A; }
            20%{ color: #AB47BC; }
            30%{ color: #7E57C2; }
            40%{ color: #5C6BC0; }
            50%{ color: #42A5F5; }
            60%{ color: #66BB6A; }
            70%{ color: #D4E157; }
            80%{ color: #FFCA28; }
            90%{ color: #FFA726; }
            100%{color: #F44336; }
          }
          

        div {
            animation: changeBG 1.5s infinite;
            animation-fill-mode: forwards;
            height: 95%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .blinked{
            animation: changeBG 2s infinite, changeFG 3s infinite;
            animation-fill-mode: forwards;
        }
       }
}
