<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only [navPush]="addPlacePage">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
      Awesome Places
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <h4 class="gray blinked">Welcome to Best Place App  😜</h4>
  </div>
</ion-content>
